.content-wrapper{
    padding-left: 25px;
}  

.contentnavmenu div{
    padding:12px;
    text-shadow: 1px 2px 3px lightgray
}

.contentnavmenu a{
    text-decoration: none;
}

@media only screen and (max-width: 47em){
    .contentnav-active{
        border-bottom: 4px solid #0062ad;
        font-weight: 600;
    }
    .contentnavmenu{
        display: grid;
        margin: 0 -3px 12px;
        text-align: left;
        font-family: "Segoe UI", SegoeUI, "Segoe WP", Tahoma, Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 50px;
    }
}


  /*Post*/

@media only screen and (min-width: 48em){
    .card-grid-2x3{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    .card-grid-2x4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }
    
    .card-grid-2x4 .card{
        height: 150px;
        width: 200px;
    }

    .contentnavmenu{
        display: grid;
        margin: 0 -3px 12px;
        text-align: left;
        font-family: "Segoe UI", SegoeUI, "Segoe WP", Tahoma, Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        grid-template-columns: 1fr;
        grid-auto-rows: 50px;
    }
    .contentnav-active{
        border-left: 4px solid #0062ad;
        font-weight: 600;
    }
}
.card-grid-2x3, .card-grid-2x4{
    -ms-grid-columns: 1 fr;
    -ms-grid-rows: auto 24px auto 24px auto 24px auto 24px auto 24px auto;
}

.card-grid{
    display: grid;
    column-gap: 30px;
    row-gap: 24px;
    margin: 0;
    padding: 0;
}

.card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(63, 62, 62, 0.14);
    color: #4c4c51;
    padding: 24px;
}

.card-position{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.content-banner{
    color:#fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1a070b;
    height: 150px;
    text-shadow: 1px 2px 3px black;
}

.content-banner h1{
    text-align: center;
}

.content-banner h1, .content-banner h2, .post-share {
    padding: 10px;
}

/* Home Content */

.home-section {
    .topic-box{
        position: absolute;
        top: 200px;
        color: #fff;
        text-shadow: 1px 2px 3px black
    }
    .home-banner{
        background-image: url($home-background + "/assets/img/M&E-homeimg-2.png");
        height: 500px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: center;
        border-radius: 6px;

    
    }
    .content-banner{
        color:#fff;
        background-color: #1a070b;
        border-radius: 6px;
        height: 500px;
    }
}


.topic-box{
    max-width: 590px;
    z-index: 1;
    padding-left: 10px;
    height: 400px;
}

.hover-info{
    display: none;;
}

