.featured-posts {
  height: 400px;
  margin: 5px 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured-posts h2 {
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
}
.featured-posts h2 span {
   display: inline-block;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   /* letter-spacing: -1px; */
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 10px;
}
.featured-posts span a {
  color: white;
}
.featured-posts h1 {
  margin: 10px;
}


.me-intro{
    min-height: 720px;
    width: $container-width;
    background-color:#002050;
    color:#fff;
    position: absolute;
    left: 0;
}

.intro-bg{
  background-image: url("/assets/img/M&E-homeimg.png");
  background-repeat: no-repeat;
  background-position: top;
  min-height: 720px;
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  opacity: .3;
}

.intro-msg{
  margin-left: 200px;
  padding-top: 30%;
  width: 50%;
  z-index: 1;
  position: absolute;
}
.contentnav-wrapper{
  z-index: 2;
}

.contentnavmenu{
  background-color: rgba(255,255,255,.1);
}

.contentnavmenu li:hover{
  border-left: 4px solid #0062ad;
  font-weight: 600;
}
.contentnavmenu a{
  color: #fff;
}

.footer{
  margin-top: 735px;
}