.page-title {
  padding: 0px 10px 10px;
}
.misc-content {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.solutions{
  margin-top: 7px;
  border-left: 2px solid #0062ad;
  padding-left: 5px;
}