---
layout: page
title: Highlights
---
{% for post in site.categories.highlights %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}

Check out solutions from our premier contributors

<p><br></p>

<a href="https://azure.github.io/MediaEntertainment/edit/video-editing.html"><img src="https://raw.githubusercontent.com/Azure/MediaEntertainment/gh-pages/_site/assets/img/avid.png" /></a>

<p><br></p>

<a href="https://azure.github.io/MediaEntertainment/edit/video-editing.html"><img src="https://raw.githubusercontent.com/Azure/MediaEntertainment/gh-pages/_site/assets/img/support-partners.png" width="250" height="100"/></a>


<p><br></p>

