---
layout: default
---


<div class="contentnavmenu">
    {% assign sorted-posts = site.posts | sort: 'order' %}
    {% for post in sorted-posts  %}
        <div class="navitem" data-id="#{{post.categories}}"><a href="#{{post.categories}}">{{ post.title }}</a></div>
    {% endfor %}
</div>
<div class="content-wrapper">
    <div class="page-content">
        <div class="home-section">
            <div class="content-banner">
                <div class="home-banner">
                    <h1>Solutions for Media and Entertainment</h1>
                </div>
            </div>
            <div class="topic-box">
                <section>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </section>
            </div>
        </div>
        {% for post in site.posts %}
            <article style="display: none;" id="{{post.categories}}">
                <div class="content-banner" style="{% if post.image %}background-image: url({{ site.github.url }}/assets/img/{{ post.image }});{% endif %}">
                    <div class="post-share">
                        <div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
                        <div class="sharing-icons">
                            <a href="https://twitter.com/intent/tweet?text={{ post.title }}&amp;url={{ site.github.url }}#{{ post.categories }}"
                                target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}#{{ post.categories }}&amp;title={{ post.title }}"
                                target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
 
                <div class="topic-box">
                    {{ post.content }}
                </div>               
                <ul class="card-grid card-grid-2x3">
                    {% assign card_index = 0 %}
                    {% for solution in site.solutions %}
                        {% if solution.categories == post.categories %}
                            {% assign card_index = card_index | plus:1 %}
                            <li class="card card-position" data-id="#card-{{ solution.categories }}-{{ card_index }}">
                                <img class="card-icon" src="{{ site.github.url }}/assets/img/{{ solution.image }}.png" height="40" width="40" />
                                <h3 class="card-title">{{ solution.title }}</h3>
                                <div id="card-{{ solution.categories }}-{{ card_index }}" class="hover-info">
                                    <i>{{ solution.description }}</i>
                                    <br>
                                    <a class="solution-link ui-button ui-corner-all" href="{{ solution.solution_url }}" target="_blank">Explore Solution</a>
                                    <br>
                                    <h4>(provided by {{ solution.author }})</h4>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                <ul>
            </article>
        {% endfor %}
    </div>
</div>
<script src="/assets/js/post.js"></script>