---
layout: default
title: Home
---

<article>
  <a href="{{ site.github.url }}{% post_url 2020-08-06-enablement %}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/enablement.jpg);background-size: 100% 75%">
      <h2>Core Enablement</h2>
    </div>
  </a>
</article>
<article>
  <a href="{{ site.github.url }}{% post_url 2020-08-01-content-ingest%}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/ingest.png);background-size: 100% 75%">
      <h2>Content Ingest</h2>
    </div>
  </a>
</article>
<article>
  <a href="{{ site.github.url }}{% post_url 2020-08-04-supply-chain %}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/supplychain.png);background-size: 100% 75%">
      <h2>Media Supply Chain</h2>
    </div>
  </a>
</article>
<article>
  <a href="{{ site.github.url }}{% post_url 2020-08-02-content-production %}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/content.jpg);background-size: 100% 75%">
      <h2>Content Production</h2>
    </div>
  </a>
</article>
<article>
  <a href="{{ site.github.url }}{% post_url 2020-08-03-video-editing %}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/editing.jpg);background-size: 100% 75%">
      <h2>Video Editing</h2>
    </div>
  </a>
</article>
<article>
  <a href="{{ site.github.url }}{% post_url 2020-08-05-distribution %}">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/distribution.jpg);background-size: 100% 75%">
      <h2>Distribution</h2>
    </div>
  </a>
</article>
<br>
<hr>
<br>
<!-- Pagination links -->
 <!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
-->
